header{
    color: white;
}
body{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    box-shadow: 1px 1px 5px;
    margin: 0px auto;
    width: 450px;
    height: 300px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}
div#hourtxt{
    text-shadow: 0px 0px 1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
}
img#photo{
    box-shadow: 0px 0px 5px;
    margin: 0px;
    width: 215px;
    height: 205px;
    border-radius: 50%;
}
footer{
    color: white;
    text-shadow: 0px 0px 3px black;
    padding-top: 6px;
    cursor: pointer;
}